var/
downloader/
media/


skin/frontend/beingformal/default/scss
skin/frontend/beingformal/default/css/*.map


app/etc/local.xml
sitemap.xml
robots.txt





node_modules/
.sass-cache/
.sass-cache/*
Gruntfile.js
package.json





.DS_Store
.idea/
.idea/*


app/etc/modules/Magneto_Debug.xml
skin/frontend/base/default/debug/