<?xml version="1.0"?>
<config>
  <modules>
    <My_Askquestions>
      <version>0.1.1</version>
    </My_Askquestions>
  </modules>
  <frontend>
    <routers>
      <askquestions>
        <use>standard</use>
          <args>
            <module>My_Askquestions</module>
            <frontName>askquestions</frontName>
          </args>
      </askquestions>
    </routers>
		<layout>
		  <updates>
			<askquestions>
			  <file>askquestions.xml</file>
			</askquestions>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <askquestions>
        <class>My_Askquestions_Helper</class>
      </askquestions>
    </helpers>
	<blocks>
	  <askquestions>
		<class>My_Askquestions_Block</class>
	  </askquestions>
	</blocks>
	<models>
	  <askquestions>
		<class>My_Askquestions_Model</class>
		<resourceModel>askquestions_mysql4</resourceModel>
	  </askquestions>
	  <askquestions_mysql4>
		<class>My_Askquestions_Model_Mysql4</class>
		<entities>		  
			  <askquestions>
				<table>askquestions</table>
			  </askquestions>
        </entities>
	  </askquestions_mysql4>
	</models>
	<resources>
	  <askquestions_setup>
		<setup>
		  <module>My_Askquestions</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </askquestions_setup>
	  <askquestions_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </askquestions_write>
	  <askquestions_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </askquestions_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <askquestions>
	    <use>admin</use>
		<args>
		  <module>My_Askquestions</module>
		  <frontName>admin_askquestions</frontName>
		</args>
	  </askquestions>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <amy>
		<children>
		  <askquestions module="askquestions">
		    <title>Askquestions</title>
			<sort_order>1</sort_order>
			<action>admin_askquestions/adminhtml_askquestions</action>
		  </askquestions>
		</children>
	  </amy>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<askquestions translate="title" module="askquestions">
			  <title>Askquestions</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <askquestionsbackend translate="title">
			<title>Backend Page Title</title>
		  </askquestionsbackend>
		  <askquestions translate="title">
			<title>Manage Askquestions</title>
			<sort_order>0</sort_order>
		  </askquestions>
			  </children>
			</askquestions>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<askquestions>
		  <file>askquestions.xml</file>
		</askquestions>
	  </updates>
	</layout>
  </adminhtml>
</config> 