<?xml version="1.0"?>
<!--
/**
 * @author Joy <yanggaojiao@qq.com> (http://www.iifire.com)
 * @copyright Copyright &copy; 2012, Iifire (http://demo.iifire.com)
 * @version 1.7.0
 */
 -->
<config>
	<modules>
		<Iifire_Tags>
			<version>1.7.2</version>
		</Iifire_Tags>
	</modules>
	<global>
		<blocks>
			<iifire_tags>
				<class>Iifire_Tags_Block</class>
			</iifire_tags>
		</blocks>
		<helpers>
			<itags>
				<class>Iifire_Tags_Helper</class>
			</itags>
		</helpers>
		<rewrite>
        	<tags_url_1>
                  <from><![CDATA[/mostpopular\/(.*)\/(.*)\//]]></from>
                  <to><![CDATA[tags/index/index/w/$1/p/$2]]></to>
                  <complete>1</complete>
            </tags_url_1>
            <tags_url_2>
                  <from><![CDATA[/mostpopular\/(.*)\.html/]]></from>
                  <to><![CDATA[tags/index/view/q/$1]]></to>
                  <complete>1</complete>
            </tags_url_2>
			 <tags_url_2_1>
                  <from><![CDATA[/mostpopular\/(.*)\.htm/]]></from>
                  <to><![CDATA[tags/index/view/q/$1]]></to>
                  <complete>1</complete>
            </tags_url_2_1>
            <tags_url_3>
                  <from><![CDATA[/mostpopular\/0\-9/]]></from>
                  <to><![CDATA[tags/index/index/w/0-9/]]></to>
                  <complete>1</complete>
            </tags_url_3>
        	<tags_url_4>
                  <from><![CDATA[/mostpopular\/([0-9]+)/]]></from>
                  <to><![CDATA[tags/index/index/p/$1/]]></to>
                  <complete>1</complete>
            </tags_url_4>
            
            <tags_url_5>
                  <from><![CDATA[/mostpopular\/([a-zA-Z])\/$/]]></from>
                  <to><![CDATA[tags/index/index/w/$1/]]></to>
                  <complete>1</complete>
            </tags_url_5>
            <tags_url_6>
                  <from><![CDATA[/mostpopular\/$/]]></from>
                  <to><![CDATA[tags/index/home/]]></to>
                  <complete>1</complete>
            </tags_url_6>
            <tags_url_6_1>
                  <from><![CDATA[/mostpopular/]]></from>
                  <to><![CDATA[tags/index/home/]]></to>
                  <complete>1</complete>
            </tags_url_6_1>
            <tags_url_7>
            	<from><![CDATA[#^/tag/index/save/#]]></from>
            	<to><![CDATA[tags/index/save/]]></to>
                <complete>1</complete>
            </tags_url_7>
        </rewrite>
        <models>
			<iifire_tags>
				<class>Iifire_Tags_Model</class>
				<resourceModel>iifire_tags_mysql4</resourceModel>
			</iifire_tags>
			<iifire_tags_mysql4>
				<class>Iifire_Tags_Model_Mysql4</class>
				<entities>
					<tags>
						<table>iifire_tags</table>
					</tags>
					<syn>
						<table>iifire_tags_syn</table>
					</syn>
					<description>   
						<table>iifire_tags_description</table>
					</description>
					<sitemap>   
						<table>iifire_tags_sitemap</table>
					</sitemap>
					<category>   
						<table>iifire_tags_category</table>
					</category>
				</entities>
			</iifire_tags_mysql4>
		</models>
        <resources>
			<iifire_tags_setup>
				<setup>
					<module>Iifire_Tags</module>
				</setup>
			</iifire_tags_setup>
		</resources>
	</global>
	<frontend>
        <layout>
            <updates>
                <iifire_tags>
                    <file>iifire_tags.xml</file>
                </iifire_tags>
            </updates>
        </layout>
        <translate>
            <modules>
                <iifire_tags>
                    <files>
                        <default>Iifire_Tags.csv</default>
                    </files>
                </iifire_tags>
            </modules>
        </translate>
        <routers>
            <iifire_tags module="Iifire_Tags">
                <use>standard</use>
                <args>
                    <module>Iifire_Tags</module>
                    <frontName>tags</frontName>
                </args>
            </iifire_tags>
        </routers>
    </frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Iifire_Tags before="Mage_Adminhtml">Iifire_Tags_Adminhtml</Iifire_Tags>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Iifire_Tags>
					<files>
						<default>Iifire_Tags.csv</default>
					</files>
				</Iifire_Tags>
			</modules>
		</translate>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iifire_tags>
                                            <title>Iifire Tags Setting</title>
                                        </iifire_tags>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
	<crontab>
        <jobs>
            <sitemap_cron>
                <run>
                    <model>iifire_tags/observer::scheduledGenerateSitemaps</model>
                </run>
            </sitemap_cron>
        </jobs>
    </crontab>
</config>